@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 100%;
  font-family: 'Ubuntu', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.display-block {
  display: block !important;
}

.display-flex {
  display: -webkit-box   !important;
  display: -ms-flexbox   !important;
  display: flex   !important;
}

.translateY {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.translateX {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.wave1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave1 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 116px;
}

.wave1 .shape-fill {
  fill: blue;
}

.wave2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wave2 svg {
  position: relative;
  display: block;
  width: calc(158% + 1.3px);
  height: 203px;
}

.wave2 .shape-fill {
  fill: green;
}

.wave3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wave3 svg {
  position: relative;
  display: block;
  width: calc(158% + 1.3px);
  height: 100px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.wave3 .shape-fill {
  fill: #000;
}

.backdrop {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

#bookArrow {
  position: fixed;
  display: -ms-grid;
  display: grid;
  place-items: center;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #ffffff;
  padding: 1rem .5rem;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  z-index: 9998;
  -webkit-transition: padding 250ms ease-out;
  transition: padding 250ms ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#bookArrow:hover {
  padding: 1rem;
}

#bookArrow p {
  font-weight: 700;
  font-size: 1.15rem;
}

#story-book {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  height: 90%;
  max-height: 520px;
  z-index: 10000;
  overflow: hidden;
  border-radius: .25rem;
}

#story-book .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

#story-book .pages .page {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  background: #ffffff;
}

#story-book .pages .page span {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#story-book .pages .page .right-arrow {
  top: 50%;
  right: 0;
  background: rgba(101, 101, 101, 0.7);
  font-weight: 700;
  font-size: 1.15rem;
  padding: 1rem .5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

#story-book .pages .page .left-arrow {
  top: 50%;
  left: 0;
  background: rgba(101, 101, 101, 0.7);
  font-weight: 700;
  font-size: 1.15rem;
  padding: 1rem .5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

#story-book .pages .page .page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 2rem;
}

#story-book .pages .page .page-content .page_title {
  font-weight: 700;
  font-size: 1.3rem;
}

#story-book .pages .page .page-content .page-number {
  margin-top: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

#story-book .pages .page:first-of-type {
  background: url("../images/book_cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#story-book .pages .page:first-of-type .page-content {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#story-book .pages .page:first-of-type .page-content h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #ffffff;
  width: 6ch;
}

#story-book .pages .page:nth-of-type(2) .page-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#story-book .pages .page:nth-of-type(2) .page-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  list-style: none;
}

#story-book .pages .page:nth-of-type(2) .page-content ul li {
  font-weight: 700;
  font-size: 1.15rem;
}

#story-book .pages .page:nth-of-type(6) .page-content {
  font-size: .75rem;
}

header {
  width: 100%;
  height: 100vh;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background: #000;
}

header .navbar #home {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
}

header .navbar .links {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  top: 0;
  right: 0;
  height: 100%;
  padding: 3rem 5rem;
  background: #ffffff;
  list-style: none;
  z-index: 10000;
}

header .navbar .links li a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 1.15rem;
}

header .burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .3rem;
  width: 1.5rem;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: pointer;
}

header .burger-menu span {
  width: 100%;
  height: 2px;
  background: #ffffff;
}

header .burger-menu span:nth-of-type(2) {
  width: 75%;
}

header .burger-menu span:nth-of-type(3) {
  width: 50%;
}

header .theater {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .theater::before {
  content: '';
  position: absolute;
  top: -1px;
  width: 100%;
  height: 4rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #000), color-stop(70%, transparent));
  background: linear-gradient(to bottom, #000 10%, transparent 70%);
  z-index: 1000;
}

header .theater img {
  position: absolute;
  width: 70%;
  max-width: 300px;
}

main {
  margin-top: 6rem;
}

.definitions-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  width: 90%;
  max-width: 700px;
  margin: 3rem auto;
}

.definitions-section .definition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  border: 2px solid #656565;
  border-radius: .5rem;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.definitions-section .definition h2 {
  text-align: center;
}

.definitions-section .definition .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.definitions-section .definition .texts .text {
  padding: .5rem;
  max-width: 600px;
  border: 2px solid #656565;
  border-radius: .5rem;
  -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
          box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

.definitions-section .definition .texts .text span {
  font-weight: 700;
}

section {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
}

#section1 {
  background: red;
}

#section2 {
  background: blue;
  top: -1px;
}

#section3 {
  background: green;
  top: -2px;
}

footer {
  position: relative;
  top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: #000;
  color: white;
  padding: 2rem;
  font-size: 1.15rem;
  font-weight: 300;
  gap: 2rem;
}

footer::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 7px;
  background: #000;
}

footer a {
  font-weight: 700;
  color: #656565;
  text-decoration: none;
}

footer ul {
  list-style: none;
}

footer ul li:first-of-type {
  font-weight: 700;
}

footer ul li a {
  color: #ffffff;
  font-weight: 400;
  text-decoration: underline;
}

@media (min-width: 450px) {
  body #story-book .pages .page:nth-of-type(6) .page-content {
    font-size: 1rem;
  }
}

@media screen and (min-width: 800px) {
  body main .definitions-section .definition .texts {
    gap: 2rem;
  }
  body footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1000px) {
  body header .navbar {
    padding: 2rem;
  }
  body header .navbar .links {
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #000;
    padding: 0;
  }
  body header .navbar .links li a {
    color: #ffffff;
    font-size: 1.05rem;
  }
  body header .navbar .burger-menu {
    display: none;
  }
  body header .theater img {
    max-width: 400px;
  }
}
/*# sourceMappingURL=style.css.map */