//fonts
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap')

//variables
$black: #000
$white: #ffffff
$grey: #656565
$marginTop: 6rem

//resets
*, *::after, *::before
    margin: 0
    padding: 0
    box-sizing: inherit
    -webkit-tap-highlight-color: transparent

body
    font-size: 100%
    font-family: 'Ubuntu', sans-serif
    box-sizing: border-box

html
    scroll-behavior: smooth

//classes
.display-block
    display: block !important

.display-flex
    display: flex   !important

.translateY
    transform: translateY(0) !important

.translateX
    transform: translateX(0) !important

// waves
.wave
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    overflow: hidden
    line-height: 0
    svg
        position: relative
        display: block
        width: calc(140% + 1.3px)
        height: 116px
        
.wave1
    .shape-fill
            fill: blue

.wave2
    .shape-fill
            fill: green

.wave3
    .shape-fill
            fill: pink
        
.wave4
    .shape-fill
            fill: brown


    
// actual styling

.backdrop
    display: none
    position: absolute
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, .8)
    z-index: 9999

#bookArrow
    position: fixed
    display: grid
    place-items: center
    top: 50%
    right: 0
    transform: translateY(-50%)
    background: $white
    padding: 1rem .5rem
    border-top-left-radius: 100%
    border-bottom-left-radius: 100%
    z-index: 9998
    transition: padding 250ms ease-out
    user-select: none
    cursor: pointer
    &:hover
        padding: 1rem
    p
        font-weight: 700
        font-size: 1.15rem

#story-book
    display: none
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 80%
    max-width: 600px
    height: 90%
    max-height: 520px
    z-index: 10000
    overflow: hidden
    border-radius: .25rem
    .pages
        display: flex
        width: 100%
        height: 100%
        .page
            position: relative
            min-width: 100%
            min-height: 100%
            background: $white
            span
                position: absolute
                user-select: none
                cursor: pointer
            .right-arrow
                top: 50%
                right: 0
                background: rgba(101, 101, 101, .7)
                font-weight: 700
                font-size: 1.15rem
                padding: 1rem .5rem
                transform: translateY(-50%)
                border-top-left-radius: 100%
                border-bottom-left-radius: 100%
            .left-arrow
                top: 50%
                left: 0
                background: rgba(101, 101, 101, .7)
                font-weight: 700
                font-size: 1.15rem
                padding: 1rem .5rem
                transform: translateY(-50%)
                border-top-right-radius: 100%
                border-bottom-right-radius: 100%
            .page-content
                display: flex
                flex-direction: column
                align-items: center
                height: 100%
                padding: 2rem
                .page-number
                    margin-top: auto
                    text-align: center
                    font-size: 1.5rem
                    font-weight: 700


        .page:first-of-type
            background: url('../images/book_cover.jpg')
            background-position: center
            background-size: cover
            background-repeat: no-repeat
            .page-content
                display: grid
                place-items: center
                h1
                    font-size: 2.5rem
                    text-align: center
                    color: $white
                    width: 6ch
        .page:nth-of-type(2)
            .page-content
                justify-content: space-between
                ul
                    display: flex
                    flex-direction: column
                    gap: 3rem
                    list-style: none
                    li
                        font-weight: 700
                        font-size: 1.15rem

header
    width: 100%
    height: 100vh
    .navbar
        display: flex
        justify-content: space-between
        align-items: center
        padding: 1rem
        background: $black
        #home
            color: $white
            font-weight: 700
            font-size: 1.25rem
            text-decoration: none
        .links
            position: absolute
            display: none
            flex-direction: column
            gap: 3rem
            top: 0
            right: 0
            height: 100%
            padding: 3rem 5rem
            background: $white
            list-style: none
            z-index: 10000
            li
                a
                    text-decoration: none
                    color: $black
                    font-weight: 700
                    font-size: 1.15rem
            
    .burger-menu
        display: flex
        flex-direction: column
        gap: .3rem
        width: 1.5rem
        transform: rotateY(180deg)
        cursor: pointer
        span
            width: 100%
            height: 2px
            background: $white
        span:nth-of-type(2)
            width: 75%
        span:nth-of-type(3)
            width: 50%

    .theater
        position: relative
        display: grid
        place-items: center
        width: 100%
        height: 100%
        background: url('../images/background.jpg')
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        &::before
            content: ''
            position: absolute
            top: -1px
            width: 100%
            height: 4rem
            background: linear-gradient(to bottom, $black 10%, transparent 70%)
            z-index: 1000
        img
            position: absolute
            width: 70%
            max-width: 300px
main
    margin-top: $marginTop

.definitions-section
    display: flex
    flex-direction: column
    align-items: center
    gap: 3rem
    width: 90%
    max-width: 700px
    margin: 3rem auto
    .definition
        display: flex
        flex-direction: column
        align-items: center
        gap: 2rem
        width: 100%
        padding: 1rem
        border: 2px solid $grey
        border-radius: .5rem
        box-shadow: 4px 4px 4px rgba(0, 0, 0, .5)
        transform: translateY(6rem)
        transition: transform 300ms ease-out
        h2
            text-align: center
        .texts
            display: flex
            flex-direction: column
            gap: 1rem
            transform: translateX(-2rem)
            transition: transform 300ms ease-out
            .text
                padding: .5rem
                max-width: 600px
                border: 2px solid $grey
                border-radius: .5rem
                box-shadow: 4px 4px 6px rgba(0, 0, 0, .6)
                span
                    font-weight: 700
section
    position: relative
    display: grid
    place-items: center
    height: 100vh
    width: 100%
    font-size: 2rem
    font-weight: 700
        

#section1
    background: red

#section2
    background: blue
    top: -1px

#section3
    background: green
    top: -2px

#section4
    background: pink
    top: -3px

#section5
    background: brown
    top: -4px

footer
    position: relative
    top: -5px
    display: flex
    flex-direction: column
    text-align: center
    background: $black
    color: white
    padding: 2rem
    font-size: 1.15rem
    font-weight: 300
    gap: 2rem
    &::before
        content: ''
        position: absolute
        bottom: -4px
        left: 0
        width: 100%
        height: 7px
        background: $black
    a
        font-weight: 700
        color: $grey
        text-decoration: none
    ul
        list-style: none
        li:first-of-type
            font-weight: 700

@media screen and ( min-width:800px )
    body
        main
            .definitions-section
                .definition
                    .texts
                        gap: 2rem
        footer
            flex-direction: row
            justify-content: space-evenly
            align-items: center

@media ( min-width: 1000px ) 
    body
        header
            .navbar
                padding: 2rem
                .links
                    position: initial
                    display: flex
                    flex-direction: row
                    background: $black
                    padding: 0
                    li
                        a
                            color: $white
                            font-size: 1.05rem
                .burger-menu
                    display: none
            .theater
                img
                    max-width: 400px